<div class="row">
  <div class="col-md-3">
    <label for="termino">Buscar Pelicula</label>
    <input type="text" placeholder="Busque pelicula..." class="form-control" (keyup)="buscarPelicula()" [(ngModel)]="termino">
  </div>
  <div class="col-md-9" *ngIf="termino">
    <h2 class="text-capitalize">{{termino}}</h2>
    <hr>

    <div class="row">
      <div *ngFor="let pelicula of peliculas" class="col-md-4 text-center" [routerLink]="['/info', pelicula.id]">
        <img [src]="pelicula.poster_path | sinfoto" alt="" class="img-thumbnail">
        <p>{{pelicula.title}}</p>
      </div>
    </div>
  </div>
</div>