<br>
<h1 >{{ titulo }}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="peliculas">

  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+ (peliculas[0] | sinfoto) +')'}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (peliculas[1] | sinfoto) +')'}">
      </div>
      <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (peliculas[2] | sinfoto) +')'}">
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="row">
      <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (peliculas[3] | sinfoto) +')'}">
      </div>
      <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (peliculas[4] | sinfoto) +')'}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+ (peliculas[5] | sinfoto) +')'}">
      </div>
    </div>

  </div>


</div>