<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenidos a Peliculas App</h1>
    <p class="lead">Aquí podrá buscar todas las peliculas y su información.</p>
  </div>
</div>



<app-galeria [peliculas]="peliculasActuales|slice:0:6"
              titulo="Peliculas en Cartelera"></app-galeria>


<app-galeria [peliculas]="peliculasPopupares|slice:0:6"
              titulo="Peliculas Populares"></app-galeria>

<app-galeria [peliculas]="peliculasChicos|slice:0:6"
              titulo="Peliculas para Niños"></app-galeria>


<!-- <h1>Peliculas para niños mas populares</h1>
<hr>
<div class="card-columns">
    <div class="card" *ngFor="let pelicula of peliculasChicos">
      <img class="card-img-top" [src]="pelicula | sinfoto" [alt]="pelicula.title">
      <div class="card-body">
        <h4 class="card-title">{{pelicula.title}}</h4>
        <p class="card-text">
          <small class="text-muted">{{ pelicula.release_date }}</small>
        </p>
        <button
          [routerLink]="['/info',pelicula.id]"  
          class="btn btn-outline-primary btn-block">
          Ver mas...
        </button>
      </div>
    </div>
</div> -->